.App {
  .logo {
    height: 54px;
  }

  .navbarBrand {
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      margin-left: 8px;

      h1 {
        font-size: 18px;
        margin-bottom: 0;
        font-style: italic;
      }

      h2 {
        font-size: 14px;
      }

      @media (min-width: 420px) {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 18px;
        }
      }

      h2 {
        margin-top: 0;
        font-weight: 200;
      }
    }
  }

  .userMenu {
    background: none;
    border: none;
    padding: none;
    margin-left: auto;

    img {
      height: 48px;
      border-radius: 50%;
    }
  }

  .navigation {
    margin-left: auto;
    padding-right: 8px;
  }

  main,
  footer {
    padding: 8px;
  }
}
